openapi: 3.2.0
info:
  version: v1
  title: Services Code Redaction API
  contact:
    email: hello@overops.com
  description: Main OverOps API.
servers:
- url: https://api.overops.com/api/v1
security:
- basicAuth: []
- ApiKeyAuth: []
tags:
- name: Code Redaction
  description: Fetch and manipulate code filters to include / exclude 3rd party and utility classes from OverOps analysis and data capture.
paths:
  /services/{env_id}/settings/code-redaction:
    get:
      tags:
      - Code Redaction
      summary: List all environment code redaction settings
      description: List all environment code exclusions and inclusions
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of included and excluded classes and packages
          content:
            '*/*':
              schema:
                type: object
                properties:
                  exclude:
                    type: object
                    properties:
                      classes:
                        type: array
                        items:
                          $ref: '#/components/schemas/ClassName'
                      packages:
                        type: array
                        items:
                          $ref: '#/components/schemas/PackageName'
                  include:
                    type: object
                    properties:
                      classes:
                        type: array
                        items:
                          $ref: '#/components/schemas/ClassName'
                      packages:
                        type: array
                        items:
                          $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedaction
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/exclude:
    get:
      tags:
      - Code Redaction
      summary: List all code exclusions
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of excluded classes and packages
          content:
            '*/*':
              schema:
                type: object
                properties:
                  classes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassName'
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionExclude
      x-operation-id-source: derived
    post:
      tags:
      - Code Redaction
      summary: Add a bulk of code exclusions
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/ClassName'
                packages:
                  type: array
                  items:
                    $ref: '#/components/schemas/PackageName'
        description: code exclusions
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: postServicesByEnvIdSettingsCodeRedactionExclude
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/exclude/classes:
    get:
      tags:
      - Code Redaction
      summary: List all excluded classes
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of excluded classes
          content:
            '*/*':
              schema:
                type: object
                properties:
                  classes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionExcludeClasses
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/exclude/classes/{class_name}:
    get:
      tags:
      - Code Redaction
      summary: Retrieve an excluded class
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      responses:
        '200':
          description: An excluded class
          content:
            '*/*':
              schema:
                type: object
                properties:
                  name:
                    $ref: '#/components/schemas/ClassName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: getServicesByEnvIdSettingsCodeRedactionExcludeClassesByClassName
      x-operation-id-source: derived
    put:
      tags:
      - Code Redaction
      summary: Add a class to the exclusion list
      description: Add a class to the exclusion list. The body class name must match the resource identifier
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Class'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: putServicesByEnvIdSettingsCodeRedactionExcludeClassesByClassName
      x-operation-id-source: derived
    delete:
      tags:
      - Code Redaction
      summary: Remove a class from exclusion
      description: Remove a class from the exclusion list
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteServicesByEnvIdSettingsCodeRedactionExcludeClassesByClassName
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/exclude/packages:
    get:
      tags:
      - Code Redaction
      summary: List all excluded packages
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of excluded packages
          content:
            '*/*':
              schema:
                type: object
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionExcludePackages
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/exclude/packages/{package_name}:
    get:
      tags:
      - Code Redaction
      summary: Retrieve an excluded package
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      responses:
        '200':
          description: An excluded package
          content:
            '*/*':
              schema:
                type: object
                properties:
                  name:
                    $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: getServicesByEnvIdSettingsCodeRedactionExcludePackagesByPackageName
      x-operation-id-source: derived
    put:
      tags:
      - Code Redaction
      summary: Add a package to the exclusion list
      description: Add a package to the exclusion list. The body package name must match the resource identifier
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Package'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: putServicesByEnvIdSettingsCodeRedactionExcludePackagesByPackageName
      x-operation-id-source: derived
    delete:
      tags:
      - Code Redaction
      summary: Remove a package from the exclusion list
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteServicesByEnvIdSettingsCodeRedactionExcludePackagesByPackageName
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/include:
    get:
      tags:
      - Code Redaction
      summary: List all code inclusions
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of included classes and packages
          content:
            '*/*':
              schema:
                type: object
                properties:
                  classes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassName'
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionInclude
      x-operation-id-source: derived
    post:
      tags:
      - Code Redaction
      summary: Add a bulk of code inclusions
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                classes:
                  type: array
                  items:
                    $ref: '#/components/schemas/ClassName'
                packages:
                  type: array
                  items:
                    $ref: '#/components/schemas/PackageName'
        description: code inclusions
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: postServicesByEnvIdSettingsCodeRedactionInclude
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/include/classes:
    get:
      tags:
      - Code Redaction
      summary: List all included classes
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of included classes
          content:
            '*/*':
              schema:
                type: object
                properties:
                  classes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClassName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionIncludeClasses
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/include/classes/{class_name}:
    get:
      tags:
      - Code Redaction
      summary: Retrieve an included class
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      responses:
        '200':
          description: An included class
          content:
            '*/*':
              schema:
                type: object
                properties:
                  name:
                    $ref: '#/components/schemas/ClassName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: getServicesByEnvIdSettingsCodeRedactionIncludeClassesByClassName
      x-operation-id-source: derived
    put:
      tags:
      - Code Redaction
      summary: Add a class to the inclusion list
      description: Add a class to the inclusion list. The body class name must match the resource identifier
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Class'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: putServicesByEnvIdSettingsCodeRedactionIncludeClassesByClassName
      x-operation-id-source: derived
    delete:
      tags:
      - Code Redaction
      summary: Remove a class from the inclusion list
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: class_name
        required: true
        description: Fully qualified Java class name
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteServicesByEnvIdSettingsCodeRedactionIncludeClassesByClassName
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/include/packages:
    get:
      tags:
      - Code Redaction
      summary: List all included packages
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of included packages
          content:
            '*/*':
              schema:
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageName'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdSettingsCodeRedactionIncludePackages
      x-operation-id-source: derived
  /services/{env_id}/settings/code-redaction/include/packages/{package_name}:
    get:
      tags:
      - Code Redaction
      summary: Retrieve an included package
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      responses:
        '200':
          description: An included package
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: getServicesByEnvIdSettingsCodeRedactionIncludePackagesByPackageName
      x-operation-id-source: derived
    put:
      tags:
      - Code Redaction
      summary: Add a package to the inclusion list
      description: Add a package to the inclusion list. The body package name must match the resource identifier
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Package2'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: putServicesByEnvIdSettingsCodeRedactionIncludePackagesByPackageName
      x-operation-id-source: derived
    delete:
      tags:
      - Code Redaction
      summary: Remove a package from the inclusion list
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        required: true
        description: Fully qualified Java package name
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteServicesByEnvIdSettingsCodeRedactionIncludePackagesByPackageName
      x-operation-id-source: derived
components:
  requestBodies:
    Package:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/PackageName'
    Class:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/ClassName'
    Package2:
      content:
        application/json:
          schema:
            properties:
              name:
                $ref: '#/components/schemas/PackageName'
  responses:
    BadRequestError:
      description: Bad Request
    OK:
      description: OK
    NotFoundError:
      description: Not Found
    UnauthorizedError:
      description: Unauthorized
  schemas:
    ClassName:
      type: string
      example: com.company.ClassName
    PackageName:
      type: string
      example: com.company.package.name
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
