openapi: 3.2.0
info:
  version: v1
  title: Services Timers API
  contact:
    email: hello@overops.com
  description: Main OverOps API.
servers:
- url: https://api.overops.com/api/v1
security:
- basicAuth: []
- ApiKeyAuth: []
tags:
- name: Timers
  description: Fetch and manipulate OverOps Timers - bottleneck detection and performance diagnosis
paths:
  /services/{env_id}/timers:
    get:
      tags:
      - Timers
      summary: List timers
      description: List all existing timers
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of timers
          content:
            '*/*':
              schema:
                type: object
                properties:
                  timers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Timer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdTimers
      x-operation-id-source: derived
    post:
      tags:
      - Timers
      summary: Create new timer
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Timer'
        description: Single timer
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/Conflict'
      operationId: postServicesByEnvIdTimers
      x-operation-id-source: derived
  /services/{env_id}/timers/{timer_id}:
    get:
      tags:
      - Timers
      summary: Get timer properties
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: timer_id
        description: Timer to use
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Timer properties
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Timer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdTimersByTimerId
      x-operation-id-source: derived
    post:
      tags:
      - Timers
      summary: Edit timer data
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: timer_id
        description: View to use
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Timer'
        description: Single timer properties
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: postServicesByEnvIdTimersByTimerId
      x-operation-id-source: derived
    delete:
      tags:
      - Timers
      summary: Delete timer
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: timer_id
        description: Timer to use
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      operationId: deleteServicesByEnvIdTimersByTimerId
      x-operation-id-source: derived
components:
  responses:
    BadRequestError:
      description: Bad Request
    Conflict:
      description: Conflict
    OK:
      description: OK
    NotFoundError:
      description: Not Found
    ForbiddenError:
      description: Forbidden
    UnauthorizedError:
      description: Unauthorized
  schemas:
    Timer:
      description: Timer properties
      type: object
      properties:
        id:
          type: string
          description: This is an auto generated ID. When creating/editing a timer, the value recevied in this field will be ignored.
          example: '34'
        class_name:
          type: string
          example: DBManager
        method_name:
          type: string
          example: SaveWithRetries
        threshold:
          type: integer
          description: Threshold in ms
          example: 8000
        servers:
          type: array
          items:
            type: string
            example: na-dotCMS-2
        applications:
          type: array
          items:
            type: string
            example: MyApp
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
