openapi: 3.2.0
info:
  version: v1
  title: Services UD Fs API
  contact:
    email: hello@overops.com
  description: Main OverOps API.
servers:
- url: https://api.overops.com/api/v1
security:
- basicAuth: []
- ApiKeyAuth: []
tags:
- name: UDFs
  description: Fetch and manipulate User Defined Functinos - OverOps extensions using Lambdas.
paths:
  /global-settings/udfs:
    get:
      tags:
      - UDFs
      summary: List available UDF libraries
      description: List available UDF (User Defined Functions) libraries
      responses:
        '200':
          description: UDF libraries list
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UDFLibrary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getGlobalSettingsUdfs
      x-operation-id-source: derived
    post:
      tags:
      - UDFs
      summary: Add a new UDF library
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                udf:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: postGlobalSettingsUdfs
      x-operation-id-source: derived
  /global-settings/udfs/{library_id}:
    get:
      tags:
      - UDFs
      summary: Get UDF library properties
      description: Get UDF (User Defined Function) library properties
      parameters:
      - in: path
        name: library_id
        description: UDF library ID to be used
        required: true
        schema:
          type: string
      responses:
        '200':
          description: UDF library properties
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UDFLibrary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getGlobalSettingsUdfsByLibraryId
      x-operation-id-source: derived
    delete:
      tags:
      - UDFs
      summary: Remove UDF library (TBD - Not yet implemented)
      parameters:
      - in: path
        name: library_id
        description: UDF library ID to be used
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteGlobalSettingsUdfsByLibraryId
      x-operation-id-source: derived
  /services/{env_id}/udfs:
    get:
      tags:
      - UDFs
      summary: List available UDF libraries for the environment
      description: List all available UDFs (User Defined Functions) for selected environment
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: UDF libraries list
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UDFLibrary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdUdfs
      x-operation-id-source: derived
    post:
      tags:
      - UDFs
      summary: Add a new UDF library
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                udf:
                  type: string
                  format: binary
      responses:
        '200':
          description: UDF library was successfully added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: postServicesByEnvIdUdfs
      x-operation-id-source: derived
  /services/{env_id}/udfs/{library_id}:
    get:
      tags:
      - UDFs
      summary: Get UDF library properties
      description: Get UDF (User Defined Function) library properties
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: library_id
        description: UDF library ID to be used
        required: true
        schema:
          type: string
      responses:
        '200':
          description: UDF properties
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UDFLibrary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: getServicesByEnvIdUdfsByLibraryId
      x-operation-id-source: derived
    delete:
      tags:
      - UDFs
      summary: Remove UDF library from the environment
      description: Remove UDF library from specified environment
      parameters:
      - in: path
        name: env_id
        description: Environment ID to use (e.g. S1234)
        required: true
        schema:
          type: string
      - in: path
        name: library_id
        description: UDF library ID to be used
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: deleteServicesByEnvIdUdfsByLibraryId
      x-operation-id-source: derived
components:
  schemas:
    UDFLibrary:
      description: UDF Properties
      type: object
      properties:
        id:
          type: string
          example: L34
        version:
          type: string
          example: 1
        backward_compatible:
          type: string
          example: true
        functions:
          type: array
          items:
            $ref: '#/components/schemas/UDF'
    UDF:
      type: object
      properties:
        function_type:
          type: string
          example: ANOMALY
        short_description:
          type: string
          example: Relative Threshold
        long_description:
          type: string
          example: This function compares the volume of events against an absolute threshold
        param_type:
          type: string
          example: TEXT
        default_params:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: X
              default_value:
                type: string
                example: 100
  responses:
    UnauthorizedError:
      description: Unauthorized
    NotFoundError:
      description: Not Found
    OK:
      description: OK
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
